#replace template values with real

# noccela (BEACON) API
BEACON_CLIENT_ID=template_Value
BEACON_CLIENT_SECRET=template_Value
BEACON_API_URL=https://api.noccela.com
BEACON_AUTH_URL=https://auth.noccela.com/connect/token
BEACON_BASE_AUTH_URL=https://auth.noccela.com
BEACON_ACCOUNT=template_Value
BEACON_SITE=template_Value
BEACON_TEST_TAG_ID=template_Value
BEACON_TEST_AREA_ID=template_Value

# ELEVATOR API
ELEVATOR_CLIENT_id=template_Value
ELEVATOR_CLIENT_SECRET=template_Value
ELEVATOR_API_URL=https://dev.kone.com
ELEVATOR_WS_URL=wss://dev.kone.com

# overhead Crane
CRANE_OPCUA_URL=template_Value
